
.sidebar-pro {
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); 
}

.sidebar-link {
    padding-top: 0.6rem !important; 
    padding-bottom: 0.6rem !important;
    transition: background-color 0.2s, color 0.2s; 
    border-radius: 5px;
    outline: none;
}
.sidebar-link:hover {
    background-color: rgba(255, 255, 255, 0.15);
    color: #0dcaf0 !important; 
    padding-left: 18px !important; 
    transition: all 0.25s ease-in-out;
}

.sidebar-link:hover i {
    color: #0dcaf0 !important;
}

.sidebar-link.active-link {
    color: #ffffff !important;
    font-weight: bold;
}

.logout-link {
    color: #dc3545 !important; 
}

.logout-link:hover {
    background-color: #dc3545 !important; 
    color: #ffffff !important; 
}

